$breakpoint: 1024px;
$font-family: 'Roboto', sans-serif;
$color-dark: #474747;
$color-light: #f2f5f7;

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: $font-family;
    background: $color-light;
    color: $color-dark;
    margin: 0;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    font-weight: 500;
}

p {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

#containerForTabs {
    padding: 40px;
    border-radius: 5px;
    margin: 40px 0;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-bottom: 30px;
        border-bottom: 1px solid #dedede;

        @media only screen and (max-width: 768px) {
            overflow-x: scroll;
        }

        li {
            display: flex;
            padding: 0px;
            width: 100%;
        }

        button {
            background: none;
            border: none;
            outline: none;
            color: $color-dark;
            opacity: 0.8;
            cursor: pointer;
            font-size: 16px;
            position: relative;
            padding: 20px;
            width: 100%;
            transition: 0.3s all ease-in;

            &:hover,
            &:focus {
                opacity: 0.5;
            }

            &:active {
                transform: scale(0.9);
                transition-duration: 500ms;
            }

            &.active {
                opacity: 1;
                font-weight: 700;
            }

            &:after {
                content: '';
                height: 3px;
                width: 100%;
                position: absolute;
                display: block;
                background: #ccc;
                bottom: 0;
                opacity: 0;
                left: 0;
                transition: 0.25s ease;
            }

            &:hover::after {
                opacity: 1;
            }

            &.active::after {
                opacity: 1;
                background: $color-dark;
            }
        }
    }

    .tabItemContent {
        display: none;

        &.active {
            display: block;
        }
    }
}
