$breakpoint: 1024px;
$font-family: 'Roboto', sans-serif;
$color-dark: #474747;
$color-light: #f2f5f7;

.tabs {
    padding: 40px;
    border-radius: 5px;
    margin: 40px 0;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-bottom: 30px;
        border-bottom: 1px solid #dedede;

        @media only screen and (max-width: 768px) {
            overflow-x: scroll;
        }

        li {
            display: flex;
            padding: 0px;
            width: 100%;
        }

        button {
            background: none;
            border: none;
            outline: none;
            color: $color-dark;
            opacity: 0.8;
            cursor: pointer;
            font-size: 16px;
            position: relative;
            padding: 20px;
            width: 100%;
            transition: 0.3s all ease-in;

            &:hover,
            &:focus {
                opacity: 0.5;
            }

            &:active {
                transform: scale(0.9);
                transition-duration: 500ms;
            }

            &.tab--active {
                opacity: 1;
                font-weight: 700;
            }

            &:after {
                content: '';
                height: 3px;
                width: 100%;
                position: absolute;
                display: block;
                background: #ccc;
                bottom: 0;
                opacity: 0;
                left: 0;
                transition: 0.25s ease;
            }

            &:hover::after {
                opacity: 1;
            }

            &.tab--active::after {
                opacity: 1;
                background: $color-dark;
            }
        }
    }

    .tab__item__content {
        display: none;
        animation: fadeEffect 0.5s;

        &.tab__item__content--active {
            display: block;
        }
    }
}
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
